:root{
    --sky-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --myorange: rgb(243, 207, 158);
    --selective-yellow: #ffb703ff;
    --ut-orange: #fb8500ff;

    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

body{
    background-color: var(--sky-blue);
}

/* Styling the Header for all pages*/
header {
    background-color: var(--selective-yellow);
    padding: 20px;
}

h1 {
    text-align: center;
}
/* Header End*/

/* Floating Menu for all pages*/
.FloatingMenu {
    position: fixed;
    right: 0%;
    top: 40px;
    transform: translateX(-50%);
    background-color: var(--blue-green);
    border-radius: 10px;
    height: 40px;
    width: 50px;
    padding: 10px;
    text-align: center;
}

#Menu {
    background-color: var(--ut-orange);
    border: solid var(--ut-orange);
    border-radius: 10%;
    height: 40vh;
    width: 40vh;
    padding: 10px;
    position: fixed;  
    top: 5%;
    left: 40%;
}

.CloseMenu {
    position:absolute;
    right: 3%;
    top: 2%;
    border-radius:100%;
    width: 10%;
    height: 10%;
}

#Menu ul{
    display: flex;
    width: 90%;
    flex-direction: column;
}

#Menu ul li button {
    display: flex;
    width: 100%;
    height: 50%;
    padding: 3%;
    margin: 4%;
    margin-top: 1.3rem;
    border-radius: 5%;
    background-color: var(--selective-yellow);
    justify-content: center;
    align-items: center;
}
/* Menu End*/

/* Styling the footer for all pages*/
footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 0.5 rem;
    background-color:var(--myorange) ;
}
/* Footer End*/


/* HomePage */

.AboutMe{
    text-align: center;
    margin: 1.5rem;
}

.AboutMe>h1 {
     padding: 2rem;
}

    /* Pop-Up Buttons (need to hover) */
.About{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    height: 10vh;                   
    position: relative;     
    width: 10rem;
    height: 10rem;
    border-radius:100%;
    background-color: var(--selective-yellow);
    border: solid var(--selective-yellow);
    left: 10%;
    transform: translateY(-10%);
}

.Project{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    height: 10vh;                   
    position: relative;     
    width: 10rem;
    height: 10rem;
    border-radius:100%;
    background-color: var(--blue-green);
    border: solid var(--blue-green);
    left: 60%;
    transform: translateY(-70%);
   
}

.Skill{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    height: 10vh;                   
    position: relative;     
    width: 10rem;
    height: 10rem;
    line-height: 50px;
    border-radius:100%;
    background-color: var(--ut-orange);
    border: solid var(--ut-orange);
    left: 30%;
    transform: translateY(-100%);
}

#AboutPopUp {
    background-color: var(--myorange);
    top: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#AboutPopUp > .CloseAbout {
    position:absolute;
    right: 0%;
    top: 0%;
    border-radius:100px;
    width: 20px;
    height: 20px;
}

#ProjectPopUp {
    background-color: var(--myorange);
    top: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#ProjectPopUp > .CloseProject {
    position:absolute;
    right: 0%;
    top: 0%;
    border-radius:100px;
    width: 20px;
    height: 20px;
}

#SkillPopUp {
    background-color: var(--myorange);
    top: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#SkillPopUp > .CloseSkill {
    position:absolute;
    right: 0%;
    top: 0%;
    border-radius:100px;
    width: 20px;
    height: 20px;
}

/* HomePage End*

/* AboutPage*/
    /* UpperSection*/
.AboutPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "leftside rightside"
    "othertext othertext";
    gap: 1rem;
    padding: 3%;
    margin: 0;
    column-gap: 0%;
}

.AboutPage > .leftside {
    grid-area: leftside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0%;
}

.AboutPage > .leftside > h1 {
    display: flex;
    margin-bottom: 5%;
}

/* Styling the paragraph text */
.intro {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0%;
}

.rightside {
    grid-area: rightside;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.rightside > .Aboutmeimage{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0%;
}

.othertext {
    grid-area: othertext;
    grid-column: span 2;
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
}
    /* UpperSection end*/
    /* BottomSection*/



/* Tabelet */
@media screen and (min-width: 640px) and (max-width: 999px) {

   
  
  
  }