:root{
    --sky-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --myorange: rgb(243, 207, 158);
    --selective-yellow: #ffb703ff;
    --ut-orange: #fb8500ff;

    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
    

body{
    background-color: var(--sky-blue);
}

/* Styling the Header for all pages*/
header {
    background-color: var(--selective-yellow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

h1 {
    text-align: center;
}
/* Header End*/

/* Floating Menu for all pages*/
.FloatingMenu {
    position: fixed;
    right: 2%;
    top: 20px;
    background-color: var(--blue-green);
    border-radius: 10px;
    height: 40px;
    width: 50px;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

#Menu {
    background-color: var(--ut-orange);
    border: solid var(--ut-orange);
    border-radius: 10%;
    height: 50vh;
    width: 40vh;
    padding:2%;
    position: fixed;  
    top: 5%;
    left: calc(98% - 50px - 39vh)
}

.CloseMenu {
    position:absolute;
    right: 3%;
    top: 2%;
    border-radius:100%;
    width: 13%;
    height: 10%;
}

#Menu ul{
    display: flex;
    width: 90%;
    flex-direction: column;
    list-style-type: none;
}

#Menu ul li button {
    display: flex;
    width: 100%;
    height: 50%;
    padding: 3%;
    margin: 4%;
    margin-top: 1.3rem;
    border-radius: 5%;
    background-color: var(--selective-yellow);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

#Menu ul li button::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--sky-blue);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

#Menu ul li button:hover::before, #Menu ul li button:focus::before{
    transform: scaleX(1);
}

/* Menu End*/

/* Styling the footer for all pages*/
footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 0.5 rem;
    background-color:var(--myorange) ;
    height: 2rem;
    align-items: center;
}
/* Footer End*/


/* HomePage */

.AboutMe{
    text-align: center;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.AboutMe>h1 {
     padding: 2rem;
     font-size: 1.5rem;
}

    /* Pop-Up Buttons (need to hover) */
.About{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    height: 10vh;                   
    position: relative;     
    width: 10rem;
    height: 10rem;
    border-radius:100%;
    background-color: var(--selective-yellow);
    border: solid var(--selective-yellow);
    left: 10%;
    transform: translateY(-10%);
}

.Project{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    height: 10vh;                   
    position: relative;     
    width: 10rem;
    height: 10rem;
    border-radius:100%;
    background-color: var(--blue-green);
    border: solid var(--blue-green);
    left: 60%;
    transform: translateY(-70%);
   
}

.Skill{
    display: flex;
    justify-content: space-around;  
    align-items: center;                              
    position: relative;     
    width: 10rem;
    height: 10rem;
    line-height: 50px;
    border-radius:100%;
    background-color: var(--ut-orange);
    border: solid var(--ut-orange);
    left: 30%;
    transform: translateY(-100%);
}

#AboutPopUp {
    background-color: var(--myorange);
    top: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#AboutPopUp > .CloseAbout {
    position:absolute;
    right: 0%;
    top: 0%;
    border-radius:100px;
    width: 20px;
    height: 20px;
}

#ProjectPopUp {
    background-color: var(--myorange);
    top: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#ProjectPopUp > .CloseProject {
    position:absolute;
    right: 0%;
    top: 0%;
    border-radius:100px;
    width: 20px;
    height: 20px;
}

#SkillPopUp {
    background-color: var(--myorange);
    top: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#SkillPopUp > .CloseSkill {
    position:absolute;
    right: 0%;
    top: 0%;
    border-radius:100px;
    width: 20px;
    height: 20px;
}

.button-container button{
    transition: transform 0.3s ease;
    transform-origin: center;
}
.button-container button:hover{
    transform: scale(1.5);
}
/* HomePage End*

/* AboutPage*/
    /* UpperSection*/
.AboutMeContent{
    padding: 1rem;
    padding-bottom: 3rem;
}

.AboutMeContent > h1{
    display: flex;
}

.AboutMeImageClass {
    float: right;
    shape-outside: url("https://placehold.co/200x200");
    shape-margin: 2%;
}
    /* UpperSection end*/
    /* BottomSection*/

.LifeButton{
    display: flex;
    justify-content: space-around;  
    position: relative;

}

.DeveloperLife{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    position: relative;     
    width: 5rem;
    height: 5rem;
    border-radius:100%;
    background-color: var(--selective-yellow);
    border: solid var(--selective-yellow);
    transform: translateY(-10%);
    }
    
.HobbyLife{
    display: flex;
    justify-content: space-around;  
    align-items: center;            
    position: relative;     
    width: 5rem;
    height: 5rem;
    border-radius:100%;
    background-color: var(--blue-green);
    border: solid var(--blue-green);
    }
    
.FactAboutMe{
    display: flex;
    justify-content: space-around;  
    align-items: center;                           
    width: 5rem;
    height: 5rem;
    border-radius:100%;
    background-color: var(--ut-orange);
    border: solid var(--ut-orange);
    }


/*Project Page Start*/
.Scrollmenu{
    background-color: var(--myorange);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto; 
}

.Scrollmenu>button{
    text-align: center;
    padding: 2%;
    text-decoration: none;
}

.ProjectList{
    display: flex;
    flex-direction: column;
    margin: 2vh;
    padding: 2vh;
    justify-content: center;
    align-items: center;
}

.ProjectList>section{
    margin-bottom: 10px;
}

/*Project Page End*/

/*Skill Page Start*/
.Front-endGroup{
    position: absolute;

    

}

.FrontendLanguage{
    background-color: var(--ut-orange);
    width: 30vw;
    height: 5vw;
    border-radius: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    top:10vw;
    transform: translateX(50%)
    
}


.FrontendLanguageBackground{
    height:20vw;
    width: 100vw;
    background-color: var(--myorange);

}
/*Skill Page end*/

/*Contact Page Start*/
.WholeContactPage{
    margin: 2vw;
}

.SocialMedia{
    font-size: larger;
}

.ContactForm{
    background-color: var(--selective-yellow);
    border-radius: 2rem;
    padding: 3vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.ContactForm div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    align-items: center; 
}


.ContactForm input, .ContactForm textarea, .ContactForm button {
    flex: 3; 
    padding: 0.4rem;
}

.ContactForm input {
    max-width: 200px;
}


/* Tabelet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /*HomePage*/
    .AboutMeContent > h1{
        font-size: 2rem;
    }

    .About, .Project, .Skill {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        position: static; 
        transform: none;
        display: block;
        margin: 2vh;
        font-size: 1.5rem;
    }


  }

/* Desktop */
@media only screen and (min-width: 1024px) {
    /*Menu*/
    .FloatingMenu {
        width: 60px;
        height: 60px;
        font-size: 30px;
        left:1vw;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        line-height: 0;
    }



    /*Home Page*/
    .About, .Project, .Skill {
        width: 20rem;
        height: 20rem;
        font-size:2.5rem;
    }
}
/* Popover styling */
#DeveloperLifePopUp, #HobbyLifePopUp, #FactAboutMePopUp {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 3%;
    transform: translateX(-50%);
    width: 60%;
    background-color: var(--myorange);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

/* Show popover when button is focused */
button:focus + #DeveloperLifePopUp,
button:active + #DeveloperLifePopUp {
    display: block;
}


button:focus + #HobbyLifePopUp,
button:active + #HobbyLifePopUp {
    display: block;
}


button:focus + #FactAboutMePopUp,
button:active + #FactAboutMePopUp {
    display: block;
}
